<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>autozip</name>
	<displayName><![CDATA[Automatic Zip Update Mangement]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module Allow you to automaticaly update your virtual Products from a private or public Git repository, according to your last version TAG]]></description>
	<author><![CDATA[Kimengumi.fr]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
